[submodule "pluto/dev/third_party/implot"]
	path = pluto/dev/third_party/implot
	url = https://github.com/epezent/implot.git
[submodule "pluto/dev/third_party/imgui"]
	path = pluto/dev/third_party/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "pluto/dev/third_party/implot3d"]
	path = pluto/dev/third_party/implot3d
	url = https://github.com/brenocq/implot3d
